<div >
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username" >Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="usuario.user"  placeholder="Username" lowercase required>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="usuario.password" placeholder="Password" required>
        </div>
        <div class="text-center form-group">
          <button type="submit" ng-click="registerUser()" class="btn btn-primary">Registrar</button>
          <!-- <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a> -->
        </div>
      </fieldset>
    </form>
  </div>
</div>
